<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45593094888-3dn1meeg1uio4crsn4n1bsd460qd8ese.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45593094888-3dn1meeg1uio4crsn4n1bsd460qd8ese</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>45593094888-kih1j3hstq51sv4ln3gt3r699o9i8ivn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqKgSJ7ykhbDWeAgKLUQ9f405yDJEy6H4</string>
	<key>GCM_SENDER_ID</key>
	<string>45593094888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiyoh.app</string>
	<key>PROJECT_ID</key>
	<string>pg-connect-8ce02</string>
	<key>STORAGE_BUCKET</key>
	<string>pg-connect-8ce02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45593094888:ios:317b0bb161497e1860f75d</string>
</dict>
</plist>